
header {
    text-align : center;
    background-color : lightblue;
    border : 5px solid black;
    border-radius : 2px;
    padding : 1em;
    margin : 1em;
    margin-left:auto;
    margin-right: auto;
    max-width : 50%;
}

article {
    background-color : lightblue;
    border : 5px solid black;
    border-radius : 2px;
    padding : 1em;
    margin : 1em;
    max-height : 600px;
    min-height : 200px;
}

form {
    margin : 1em;
    margin-left : auto;
    margin-right : auto;
}

footer {
    background-color : lightblue;
    border : 5px solid black;
    border-radius : 2px;
    padding : 1em;
    margin : 1em;
    text-align : center;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

}
img {
    margin-right:auto;
    margin-left: auto;
}

h1,h2{
    margin-top: 1px;
}

body {
    background-color : #269abc;
    font-family : Menlo, Monaco, Consolas, "Courier New", monospace;
}

#navbar {
    text-align : center;
    background-color : lightblue;
    border : 5px solid black;
    border-radius : 2px;
    margin : 10px;
}

#navbar a {
    text-decoration : none;
}
#navbar li {
    display : inline-block;
    padding-left : 2em;
    list-style : none;
    font-size : 18px;
    font-weight : bold;
    padding-top : 5px;

}