
header {
    text-align : center;
    background-color : lightblue;
    border : 1em solid black;
    border-radius : 2px;
    padding : 2em;
    margin : 2em;
}

body {
    background-color : #269abc;
}

#navbar {
    text-align : center;
    background-color : lightblue;
    border : 1em solid black;
    border-radius : 2px;
    padding : 1em;
    margin : 2em
}

#navbar li {
    display : inline-block;
    padding : 2px;
    list-style : none;
}